# === Paths ===
# Where Markdown output (converted from PDFs) is written
MARKDOWN_FOLDER_PATH=
# Path to Chroma DB storage
VECTOR_STORAGE_PATH=
# Path to your Zotero data directory (contains zotero.sqlite)
LOCAL_ZOTERO_PATH=

# === VECTOR STORAGE ===
COLLECTION_NAME='Zotero'

# === Zotero Cloud API (recommended) ===
ZOTERO_API_KEY=
ZOTERO_ID=

# === LangSmith/Langchain (optional telemetry) ===
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT='SciCo'

# === Agent Model Settings ===
AGENT_MODEL_NAME='gpt-4.1'  # 'gpt_oss:latest' 
AGENT_MODEL_API='openai'  # or 'ollama'
AGENT_MODEL_TEMPERATURE=0.0

# === Embedding Model Settings ===
EMBEDDING_MODEL_NAME='text-embedding-3-small' #'nomic-embed-text'
EMBEDDING_MODEL_API='openai' # ollama

# === OpenAI ===
OPENAI_API_KEY=

# === Ollama ===
OLLAMA_BASE_URL=http://localhost:11434
